@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.logo-img {
    width: 70px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
}

.container {
    max-width: 1200px; /* Corrected max-width */
    margin: 0 auto;
    padding: 0 20px; /* Added padding for better spacing */
}

.header {
    background-image: url(img/ABPEREIRA\ PaginaP1.gif);/* Cambiado el background-image de la imagen principal */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0 0 0;
    border-radius: 0; /* Bordes rectos */
}

.menu {
    position: absolute;/* Cambiado a absolute para que se superponga al header */
    top: 0;/* Asegura que el menú ocupe todo el ancho */
    right: 0;/* Asegura que el menú ocupe todo el ancho */
    left: 0;/* Asegura que el menú ocupe todo el ancho */
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos del menú */
    justify-content: space-between;
}

.menu .navbar {
    display: flex; /* Cambiado a flex para alinear los elementos del menú */
    align-items: center; /* Alinea verticalmente los elementos del menú */
}

.menu .navbar ul {
    display: flex; /* Cambiado a flex para alinear los elementos del menú */
    margin: 0; /* Elimina el margen */
    padding: 0; /* Elimina el padding */
}

.menu .navbar ul li {
    margin: 0 15px; /* Espaciado entre los elementos del menú */
}

.menu .navbar ul li a {
    font-size: 18px; /* Tamaño de fuente del menú */
    padding: 20px;/* Tamaño del padding del menú */
    color: #ebebeb;/* Color de fuente del menú */
    display: block;/* Elimina el salto de línea */
    font-weight: 600;/* Estilo de fuente del menú */
    color: #ebebeb;/* Color de fuente del menú */
    display: block;/* Elimina el salto de línea */
    font-weight: 600;/* Estilo de fuente del menú */
}

.menu .navbar ul li a:hover {
    color: #6ba5ec;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    width: 50%;
    padding-right: 75px;
}

.header-txt h1 {
    color: hsl(0, 0%, 100%);
    font-size: 45px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 25px;
}

span {
    color: #ffbf10;
}

p {
    font-size: 17px;
    color: #000000;
    margin-bottom: 35px;
}
.btn-2{
    background-color: #6ba5ec;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}


.about {
    padding: 130px 0;
    display: flex;
    align-items: center; /* Align items vertically */
}

.about-img {
    flex-basis: 50%; /* Adjusts the width of the image section */
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
}

.about-img img {
    width: 550px; /* Adjust the size as necessary */
    border-radius: 0px; /* No rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.about-txt {
    flex-basis: 50%; /* Adjusts the width of the text section */
    padding-left: 20px; /* Adds space between text and image */
}


h2 {
    font-size: 40px;
    line-height: 1;
    color: #001739;
    margin-bottom: 25px;
}

.about-txt p {
    color: #444444;
}

.products {
    padding: 0 0 100px 0;
    text-align: center;
}

.products h2 {
    margin-bottom: 45px;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    gap: 30px;
}

.product {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 0; /* Bordes rectos */
    overflow: hidden; /* Ensures rounded corners are applied to the image */
}

.product img {
    border-radius: 0px; /* Bordes curvos solo en imágenes */
    width: 100%;
    height: 250px;
}
/*
.product-txt {
    padding: 10px 10px 40px 10px;
}

.product-txt h3 {
    font-size: 18px;
    color: #373737;
    margin-bottom: 25px;
}
*/
.product-txt p {
    color: #444444;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

.informacion {
    padding: 100px 0; /* Increased padding for better spacing */
    background-image: url(img/Pagina\ 2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0; /* Bordes rectos */
}



.img-content {
    display: flex;
}

.img-content img {
    width: 300px;/* Ajusta el tamaño según sea necesario */
    margin-right: 15px;/* Espacio entre imágenes */
    border-radius: 20px; /* Bordes curvos solo en imágenes */
}

.footer {
    background-color: #ffffff;
    padding: 50px 0;
    border-radius: 0; /* Bordes rectos */
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #000000;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    font-size: 17px;
    color: #000000;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #2EA1FF;
}

@media(max-width: 991px) {
    .menu {
        padding: 20px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #ffffff; /* Color de fondo blanco */
        color: #000000; /* Color de texto negro */
        display: none;
        flex-direction: column; /* Cambiado a columna para que se apilen */
    }
    .menu .navbar ul {
        flex-direction: column; /* Cambiado a columna para que se apilen */
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
    }
    .menu .navbar ul li {
        width: 100%; /* Asegúrate de que cada elemento ocupe todo el ancho */
    }
    .menu .navbar ul li a {
        color: #000000; /* Color de texto negro en el menú desplegable */
        padding: 15px; /* Ajusta el padding para que se vea bien */
    }
    .menu .navbar ul li a:hover {
        color: #6ba5ec; /* Color de texto al pasar el mouse */
    }
    #menu:checked ~ .navbar {
        display: flex; /* Muestra el menú como flex cuando está activo */
    }
    .header {
        background-position: left;
        min-height: 0vh;
        padding: 100px 30px;
    }
    .header-txt {
        width: 100%;
        text-align: center; /* Centered text on mobile */
    }
    .about {
        padding: 30px;
        flex-direction: column; /* Stack images and text */
    }
    .about-img {
        justify-content: center;
        order: 2;
    }
    .btn-2{
        margin-top: 20px;
    }
   
    .about-img img {
        width: 150px;
        margin: 0 15px;
    }
    .about-txt {
        text-align: center;
        margin-bottom: 35px;
    }
    .about-txt p {
        margin-bottom: 15px;
    }
    .products-content {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .gallery {
		grid-template-rows: repeat(2, 15rem);
	}
}

.informacion {
    padding: 200px 0; /* Increased padding for better spacing */
    background-image: url(img/Pagina\ 2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0; /* Bordes rectos */
}

.information-content {
    flex-direction: column;
}

.information-2 {
    text-align: center;
    padding: 0;
}

.img-content {
    justify-content: center;
}

.img-content img {
    width: 80px;
}

.footer {
    padding: 30px;
}

.footer-content {
    flex-direction: column;
    text-align: center;
}
